################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.sqlite
*.json
*.suo
*.cs
*.txt
*.cache
*.CopyComplete
*.props
*.targets
/DesafioAppiumNapista/.vs/DesafioAppiumNapista/config
*.v2
*.pdb
